// Theme setup

$primary:     #593EB5;
$secondary:   #2C3F7C;
$success:     #00c468;
$info:        #0B5540;
$warning:     #F4B233;
$danger:      #ff2e38;
$light:       #CED3D9;
$dark:        #3B3943;
$gray:        #E5E5E5;
$lightGray:   #A1A9B2;
$white:       #ffffff;
$black:       #000000;
$secondgray:  #EFF3FA;

// Set custom scheme

$theme-colors:(
  (
    "primary":      $primary,
    "secondary":    $secondary,
    "success":      $success,
    "info":         $info,
    "warning":      $warning,
    "danger":       $danger,
    "light":        $light,
    "dark":         $dark,
    "gray":         $gray,
    "lightGray":    $lightGray,
    "white":        $white,
    "black":        $black,
    "secondgray":   $secondgray,
  ) 
);

// Colors

$body-bg:                           $white;
$body-color:                        $dark;
$border-color:                      $light;

// Fonts

$font-family-base:                  'Asap', sans-serif;

$enable-shadows:                    false;
$enable-negative-margins:           true;

// Spacing

$spacer: 1rem;

$spacers: (
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 2),
    6: ($spacer * 4),
    7: ($spacer * 6),
    8: ($spacer * 8),
    9: ($spacer * 10),
    10: ($spacer * 12)
  )
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1340px
);

// Forms
$input-font-size:                     .875rem;
$form-select-indicator-color:         $primary;
$form-select-bg-size:                 20px 17px;
$form-select-color:                   $dark;
$form-select-bg-position:             right -.14rem;

// Buttons
$btn-font-size:                       .875rem;
$btn-line-height:                     1.25rem;
$btn-padding-x:                       1rem;
$btn-padding-y:                       .4rem;
$btn-border-radius:                   1rem;

// Breadcrumb
$breadcrumb-font-size:                .875rem;
$breadcrumb-active-color:             $dark;
$breadcrumb-divider:                  quote("");

// Card
$card-spacer-y:                       1.5rem;
$card-spacer-x:                       0;
$card-border-radius:                  .5rem;

// Tables
$table-th-font-weight:                400;
$table-border-color:                  #F5F6F7;
$table-cell-padding-y:                1.6255rem;
$table-cell-padding-x:                1.5rem;