.btn {
    @include short-transition;

    &:focus,
    &:active,
    &:hover {
        box-shadow: none;
        outline: none;
        @include transform(translateY(-3px));
        @include box-shadow-lg();
    }
}

a,
.btn {
    &.link {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background: $primary;
            visibility: hidden;
            @include transform(scaleX(0));
            @include transition(all 0.3s ease-in-out 0s)
        }

        &:hover {
            &:after {
                visibility: visible;
                @include transform(scaleX(1));
            }
        }
    }
}