.wrapper {
    transition: padding-left .3s ease;
    height: 100%;

    @include media-breakpoint-up(xl) {
        & {
            padding-left: 207px;
        }
    }
}

.content {
    padding: 24px;
    background-color: #F5F6F7;
    min-height: calc(100vh - 89px);

    @include media-breakpoint-down(lg) {
        & {
            min-height: calc(100vh - 59px);
        }
    }
}

.collapsed {
    .wrapper {

        @include media-breakpoint-up(xl) {
            & {
                padding-left: 80px;
            }
        }
    }
}

app-country,
app-registration {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}