.navbar {
    background-color: $white;
    padding: 16px 12px;

    .form-select {
        border: none;
        box-shadow: none;
        padding-left: 0;
        cursor: pointer;
    }

    .filters-container {
        @include media-breakpoint-down(lg) {
            & {
                position: absolute;
                left: -24px;
                top: 45px;
                background-color: $white;
                width: calc(100% + 48px);
                padding: 10px 20px;
                @include box-shadow-sm;
            }
        }

        label {
            font-size: .75rem;
            font-weight: 700;
            color: $lightGray;
            text-transform: uppercase;
        }

        .filter-item {
            @include media-breakpoint-only(xs) {
                & {
                    border-bottom: 1px solid $gray;
                }
            }

            @include media-breakpoint-up(sm) {
                & {
                    border-right: 1px solid $gray;
                }
            }

            &:last-child {
                border: none;
            }
        }
    }

    .navbar-nav {
        a {
            text-decoration: none;
            color: $dark;
        }

        fa-icon {
            color: $dark;

            .fa-user {
                font-size: 1.25rem;
            }

            .fa-bell {
                font-size: 1.45rem;
            }
        }

        .profile-menu {
            fa-icon {
                color: $lightGray;
                font-size: 1rem;
                line-height: 1;
            }

            a {
                font-size: .875rem;
                color: $dark;
            }

            .dropdown-item {
                padding: 8px 16px;
                @include transition(all .2s ease);
            }
        }

        .navbar-toggler {
            border: none;
            position: relative;
            top: 2px;
        }
    }
}