.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 98;
    overflow: hidden;
    background-color: $white;
    width: 207px;
    @include transition(width .3s ease);

    @include media-breakpoint-down(xl) {
        & {
            left: -207px; 
            top: 59px;
            @include transition(all 0.3s ease 0s);
        }
    }

    @include media-breakpoint-only(lg) {
        & {
            top: 89px;
        }
    }

    @include media-breakpoint-up(xl) {
        & {
            box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
        }
    }   

    img {
        @include short-transition;
    }

    .toggle-icon {
        cursor: pointer;

        fa-icon {
            font-size: 1.5rem;
            line-height: 1;
            color: $lightGray;
            @include short-transition;

            svg {
                vertical-align: middle;
            }

            &:hover {
                color: $primary;
            }
        }
    }

    ul {
        li {
            a {
                text-decoration: none;
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;
                font-size: .875rem;
                line-height: 1.2;
                padding: 12px 16px;
                color: $dark;
                height: 45px;
                @include short-transition;

                &:hover {
                    color: $primary;
                    background-color: rgba($primary, .1);

                    &:before {
                        opacity: 1;
                    }
                }

                &.active {
                    color: $primary;
                    background-color: rgba($primary, .1);
                    font-weight: 700;

                    &:before {
                        opacity: 1;
                    }

                    fa-icon { 
                        color: $primary;
                    }
                }

                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 4px;
                    height: 100%;
                    background: $primary;
                    border-radius: 0px 8px 8px 0px;
                    opacity: 0;
                    @include short-transition;
                }

                fa-icon {
                    font-size: 1.35rem;
                    line-height: 1;
                    color: $lightGray;
                    width: 24px;               
                    display: inline-flex;

                    svg {
                        vertical-align: middle;
                    }
                }

                span {
                    margin-left: 16px;
                    display: flex;
                    @include short-transition;
                }
            }
        }
    }

    .sidenav-menu {
        overflow-y: auto;
        height: 100%;
        @include media-breakpoint-up(xl) {
            & {
                height: calc(100% - 75px);
            }
        }
    }
    
    .logo {
        justify-content: space-between;
    }

    .menu-title {
        height: 24px;
        @include short-transition;
    }

    &.show-sidebar {
        @include media-breakpoint-down(xl) {
            & {
                left: 0;
            }
        }
    }

    .close-sidebar {
        fa-icon {
            font-size: 1.5rem;
            line-height: 1;
            color: $primary;
        }
    }
}

.collapsed {
    .sidebar {
        width: 80px;

        img {
            opacity: 0;
            width: 0;
            height: 0;
        }

        // &:hover {
        //     width: 207px;

        //     img {
        //         opacity: 1;
        //         width: auto;
        //         height: auto;
        //     }

        //     ul {
        //         li {
        //             a {
        //                 justify-content: flex-start;

        //                 span {
        //                     opacity: 1;
        //                     margin-left: 16px;
        //                     position: initial;
        //                 }
        //             }
        //         }
        //     }

        //     .menu-title {
        //         opacity: 1;
        //     }

        //     .logo {
        //         justify-content: space-between;
        //     }

        // }

        ul {
            li {
                a {
                    justify-content: center;

                    span {
                        opacity: 0;
                        transition: opacity .3s ease;
                        margin-left: 0;
                        position: absolute;
                    }
                }
            }
        }

        .toggle-icon {
            @include transform(rotate(180deg));
        }

        .menu-title {
            opacity: 0;
        }

        .logo {
            justify-content: center;
        }
    }
}

.mobile-menu-icon {
    background-color: rgba(224, 224, 224, .8);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 9;
    bottom: 20px;
    left: 24px;
    opacity: 0;

    fa-icon {
        color: $primary;
        font-size: 1.5rem;
        @include centered;
    }

    &.show-menu-icon {
        opacity: 1;
    }
}