<fa-icon [icon]="['fas', 'angle-left']"></fa-icon><br>
<fa-icon [icon]="['fas', 'tachometer-alt']"></fa-icon><br>
<fa-icon [icon]="['fas', 'chart-line']"></fa-icon><br>
<fa-icon [icon]="['fas', 'receipt']"></fa-icon><br>
<fa-icon [icon]="['fas', 'file-signature']"></fa-icon><br>
<fa-icon [icon]="['fas', 'building']"></fa-icon><br>
<fa-icon [icon]="['fas', 'users']"></fa-icon><br>
<fa-icon [icon]="['fas', 'users']"></fa-icon><br>
<fa-icon [icon]="['fas', 'home']"></fa-icon><br>
<fa-icon [icon]="['fas', 'list-alt']"></fa-icon><br>
<fa-icon [icon]="['fas', 'file-invoice-dollar']"></fa-icon><br>
<fa-icon [icon]="['fas', 'cog']"></fa-icon><br>
<fa-icon [icon]="['fas', 'angle-down']"></fa-icon>
