<div class="d-sm-flex justify-content-between flex-wrap flex-md-nowrap align-items-end mb-4">

    <div class="mb-4 mb-sm-0">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">

                <li class="breadcrumb-item">
                    <a href="#"
                       [routerLink]="['../']"
                       class="link">Registration</a>
                    <fa-icon [icon]="rightIcon"></fa-icon>
                </li>

                <li class="breadcrumb-item active"
                    aria-current="page">United Kingdom</li>

            </ol>
        </nav>

        <h4 class="m-0">Registration</h4>

    </div>

    <div class="text-center">

        <a href="#"
           class="btn btn-primary">
            Change status
        </a>

        <a href="#"
           class="btn btn-primary ms-2">
            Add comment
        </a>

    </div>

</div>

<div class="card card-body">

</div>