<div class="d-sm-flex justify-content-between flex-wrap flex-md-nowrap align-items-end mb-4">

    <div class="mb-4 mb-sm-0">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">

                <li class="breadcrumb-item">
                    <a href="#"
                       [routerLink]="['../']"
                       class="link">Registration</a>
                    <fa-icon [icon]="rightIcon"></fa-icon>
                </li>

                <li class="breadcrumb-item active"
                    aria-current="page">Country</li>

            </ol>
        </nav>

        <h4 class="m-0">United Kingdom</h4>

    </div>

    <div class="text-center">

        <a href="#"
           class="btn btn-primary">
            Change status
        </a>

        <a href="#"
           class="btn btn-primary ms-2">
            Add comment
        </a>

    </div>

</div>

<div class="card card-body">
    <div class="tabs">

        <ul class="nav nav-tabs px-3 px-sm-4"
            role="tablist">

            <li class="nav-item"
                role="presentation">
                <button class="nav-link active"
                        id="generalData-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#generalData"
                        type="button"
                        role="tab"
                        aria-controls="generalData"
                        aria-selected="true">General data</button>
            </li>

            <li class="nav-item"
                role="presentation">
                <button class="nav-link"
                        id="activity-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#activity"
                        type="button"
                        role="tab"
                        aria-controls="activity"
                        aria-selected="false">Activity</button>
            </li>

            <li class="nav-item"
                role="presentation">
                <button class="nav-link"
                        id="documents-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#documents"
                        type="button"
                        role="tab"
                        aria-controls="documents"
                        aria-selected="false">Documents</button>
            </li>

        </ul>

        <div class="tab-content">

            <div class="tab-pane fade show active"
                 id="generalData"
                 role="tabpanel"
                 aria-labelledby="generalData-tab">
                <app-general-data></app-general-data>
            </div>

            <div class="tab-pane fade"
                 id="activity"
                 role="tabpanel"
                 aria-labelledby="activity-tab">
                Activity Tab Content
            </div>

            <div class="tab-pane fade"
                 id="documents"
                 role="tabpanel"
                 aria-labelledby="documents-tab">
                Documents Tab Content
            </div>

        </div>

    </div>
</div>