<div class="row">

    <div class="col-md-6 col-lg-5 col-xl-4">

        <div class="tab-item">
            <div>
                <span>Status</span>
                <button class="btn btn-success btn-sm">Ready for signature</button>
            </div>
        </div>

        <div class="tab-item">
            <div>
                <span>Partner</span>
                <p>Vat Studio Ltd</p>
            </div>
        </div>

        <div class="tab-item">
            <div>
                <span>Partner team</span>
                <p>Registration team - DE</p>
            </div>
            <fa-icon [icon]="editIcon"></fa-icon>
        </div>

        <div class="tab-item">
            <div>
                <span>Partner assigned team member</span>
                <p>-</p>
            </div>
            <fa-icon [icon]="editIcon"></fa-icon>
        </div>

    </div>

    <div class="col-md-6 col-lg-5 offset-lg-1 col-xl-4 offset-xl-2">

        <div class="tab-item">
            <div>
                <span>First sale date</span>
                <p>01 May 2021</p>
            </div>
            <fa-icon [icon]="editIcon"></fa-icon>
        </div>

        <div class="tab-item">
            <div>
                <span>Accountant</span>
                <p>Pullus Consulting OU</p>
            </div>
            <fa-icon [icon]="editIcon"></fa-icon>
        </div>

        <div class="tab-item">
            <div>
                <span>Branch</span>
                <p>Krunoslav Gaspert</p>
            </div>
            <fa-icon [icon]="editIcon"></fa-icon>
        </div>

        <div class="tab-item">
            <div>
                <span>Accountant team</span>
                <p>-</p>
            </div>
            <fa-icon [icon]="editIcon"></fa-icon>
        </div>

        <div class="tab-item">
            <div>
                <span>Accountant assigned team member</span>
                <p>-</p>
            </div>
            <fa-icon [icon]="editIcon"></fa-icon>
        </div>

    </div>

</div>