<div class="d-sm-flex justify-content-between">

    <div class="filter-item me-lg-3 pe-5 pe-lg-3">

        <label for="type">Type</label>

        <select class="form-select"
                id="type"
                aria-label="type">
            <option value="1">Accountant</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>

    </div>

    <div class="filter-item me-lg-3 pe-5 pe-lg-3">

        <label for="type">Institution</label>

        <select class="form-select"
                aria-label="institution">
            <option value="1">Pullus Consulting OU</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>

    </div>

    <div class="filter-item me-lg-3 pe-5 pe-lg-3">

        <label for="type">Year</label>

        <select class="form-select"
                aria-label="year">
            <option value="1">2020</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>

    </div>

    <div class="filter-item me-lg-3 pe-5 pe-lg-3">

        <label for="type">Company</label>

        <select class="form-select"
                aria-label="company">
            <option value="1">Pearce Paul </option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>

    </div>

</div>